:root {
  --lprimary: #0000ff;
  --lsecondary: #ff0000;
  --primary: #ff0000;
  --secondary: #ffff00;
}

.theme-bg {
  background-color: var(--primary);
}

.theme-lsecondary {
  color: var(--lsecondary);
}

.theme-secondary {
  color: var(--secondary);
}
